* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: darkslategray;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.memory-game {
    height: 600px;
    width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    position: relative; /* será explicado*/
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* previne que elementos fiquem achatados no plano*/
    transition: transform 0.8s;
}

.card:active{
    transform: scale(0.89);
    transform: transform * 0.3s;
}

.card-front, .card-back{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(27, 44, 57);
    backface-visibility: hidden; /* elementos virados ao contrário não são visto, semelhando aos triangulo do XNA*/
}

.card-front {
    transform: rotateX(180deg);
}

.flip {
    transform: rotateX(180deg);
}